<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

  <title>{% block title %}Главная{% endblock %} — effectivealtruism.ru</title>
</head>
<body>
  <div class="main">

    <header class="main-header">
      <h1><a href='/'>Эффективный альтруизм</a></h1>
      <nav class="main-menu">
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">Главная</a></li>
          {% for href, title in [
            ['/content', 'Материалы'],
            ['/about', 'О сайте']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <div class="page">
      {% block body %}{% endblock %}
    </div>

    <hr>
    <footer class="main-footer">
      <a href='mailto:me@berekuk.ru'>me@berekuk.ru</a> | <a href='github.com/effectivealtruism-ru/effectivealtruism-ru.github.io'>Github repo</a>
    </footer>

  </main>
</body>
